@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

section {
    width: 100dvw;
    height: 100dvh;
    background-color: $primary-bg;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #000;
}

.modal-box {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    color: #000;

  &.info { border-top: 4px solid #2196f3; }
  &.error { border-top: 4px solid $deficit-background; }
  &.warn { border-top: 4px solid #ff9800; }
  &.delete { border-top: 4px solid $deficit-foreground; }
  &.success {border-top: 4px solid $profit-foreground;}

    h3 {
    margin: 0 0 0.5rem;
    color: #000; 
  }

    p {
    margin-bottom: 0;
    color: #000; 
    }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    
    button {
      padding: 0.4rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:first-child {
        background: #2196f3;
        color: #fff;
      }

      &:last-child {
        background: #ddd;
      }
    }
  }
}
