$primary-bg: #0b0e12;
$border-color: #1a222b;
$primary-red: #e12a28;
$secondary-color: #14161a;
$profit-background: #0b2b1f;
$profit-foreground: #38d39f;
$deficit-background: #e53935;
$deficit-foreground: #ff7a7a;
$secondary-foreground-color: #0f141a;
$muted-foreground: #8f959b;